{% load static %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BERITA ACARA KUNJUNGAN</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css" rel="stylesheet" />

    <style type="text/css">
        @page{
            size:letter;
            margin: 5px 10px 5px 10px;
        }
        div.col-1
        {
            flex: 0 0 8.333333%;
            max-width: 4.3333%;
        }


        .number
        {
            flex: 0 0 3%;
            max-width: 3%;
        }

        .angka
        {
            flex: 0 0 4.7777%;
            max-width: 4.7777%;
            padding-left: 30px;
        }

        .nama
        {
            flex: 0 0 43.333%;
            /* flex: content; */
            max-width: 43.333%;
            margin-left: 40px;
        }
        .xlogo
        {   
            position: sticky;
            top:5px;
            left: 13px;
            width: 120px;
            height: 83px;
            
        }
        .mt-10
        {
            margin-top: 50px;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="col">
            <div class="card">
                <div class="card-body border border-dark rounded">
                    <div class="col">
                        <img src="https://1.bp.blogspot.com/-I0G-yzv1z1U/YDJUmAqUMfI/AAAAAAAAH9o/fGB7cliS9RwLCkGXdBrA5kcoYQmvbP_GQCLcBGAsYHQ/w640-h204/bpjs-ketenagakerjaan.png" alt="" class="xlogo" />
                        <div class="row justify-content-center">
                            <h4 class="font-weight-bold text-dark text-center">BERITA ACARA KUNJUNGAN / INFORMASI</h4>
                            <hr />
                        </div>
                        
                    </div>
                    <div class="row mt-5">
                        <div class="number">
                            I.
                        </div>
                        <div class="col-5">
                            HARI TANGGAL
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-3">
                            {{data.created|date:"l, d-m-Y"}}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="number">
                            II.
                        </div>
                        <div class="col-5">
                            PETUGAS YANG MELAKSANAKAN
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-4">
                            {{data.petugas.nama}}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="number">
                            III.
                        </div>
                        <div class="col-5">
                            PIHAK YANG DIKUNJUNGI/KONFIRMASI</br>
                            PERUSAHAAN/PEMERINTAHAN/SAKSI
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="angka">1.</div>
                        <div class="nama">NAMA</div>
                        <div class="col-1">:</div>
                        <div class="col-3">{{data.to_nama}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="angka">2.</div>
                        <div class="nama">JABATAN</div>
                        <div class="col-1">:</div>
                        <div class="col-3">{{data.to_jabatan}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="angka">3.</div>
                        <div class="nama">ALAMAT</div>
                        <div class="col-1">:</div>
                        <div class="col-3">{{data.to_alamat}}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="angka">4.</div>
                        <div class="nama">NO. HP</div>
                        <div class="col-1">:</div>
                        <div class="col-3">{{data.to_no_hp}}</div>
                    </div>
                    <div class="row mt-4">
                        <div class="number">
                            IV.
                        </div>
                        <div class="col-5">
                            MAKSUD DAN TUJUAN
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-3">
                            {{data.get_tujuan_display}}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="number">
                            V.
                        </div>
                        <div class="col-5">
                            HASIL WAWANCARA
                        </div>
                        <div class="col-1">
                            :
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            {{data.hasil}}
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col text-right">
                            TANJUNG MORAWA, {{data.created|date:"d-m-Y"}}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 text-center">
                            INFORMAN
                        </div>
                        <div class="col-6 text-center">
                            PETUGAS PELAKSANA KUNJUNGAN
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 text-center">
                            {% qr_from_text informan size=3 border=2 image_format="png" error_correction="L" %}
                        </div>
                        <div class="col-6 text-center">
                            {% qr_from_text datas size=3 border=2 image_format="png" error_correction="L" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            {{data.to_nama}}
                        </div>
                        <div class="col-6 text-center">
                            {{data.petugas.nama}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>