{% extends 'registration/base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="form">
    <h2>Reset Password</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="inputbox">
            {{form.email}}
        </div>
        <div class="inputbox">
            <button type="submit" class="btn btn-primary submit px-3">Reset</button>
        </div>
        <p class="forget">Sudah ada Akun ? <a href="{% url 'login' %}"> Login</a></p>
    </form>
</div>

{% endblock content %}