{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jrealitas Login Form</title>
    <link rel="stylesheet" href="{% static 'kepesertaan/css/loginform.css' %}">
</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="container">
                <div class="form">
                    <h2>Login Form</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="inputbox">
                            {{form.username}}
                        </div>
                        <div class="inputbox">
                            {{form.password}}
                        </div>
                        <div class="inputbox">
                            <button type="submit" class="btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <p class="forget">Forgot Password ? <a href="#"> Click Here</a></p>
                        <p class="forget">Don't have an account ? <a href="#"> Sign up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>