{% extends 'base.html' %}
{% load static %}

{% block title %}Chat Box{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'chat/chat.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="h4 pt-5">Chat Room</label>
                    <textarea id="chat-text" rows="10" class="form-control" disabled></textarea><br>
                </div>
                <div class="form-group">
                    <input id="input" type="text" class="form-control"></br>
                </div>
                <input id="submit" type="button" class="btn btn-sm btn-primary" value="Send">
            </form>
        </div>
    </div>
</div>
<div id="user-hello"></div>
{{ room_name|json_script:"room-name"}}
{{ request.user.username|json_script:"user_username"}}
{% endblock  %}

{% block javascripts %}
<script src="{% static 'chat/chats.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock javascripts %}