{% extends 'base.html' %}
{% load static %}

{% block title %}RealChat{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-4">
            <div class="card">
                <div class="card-body">
                    <div id="id_from_user" style="overflow-y: scroll; height:430px;">
                        {% if users_jab %}
                        {% for hrd in hrds %}
                        <ul class="list-group">
                            <a class="list-group-item nav-link text-grey mb-2 mx-2" href="javascript:void(0)" id="to_user" data-user="{{hrd.username.pk}}">{{hrd.username.username}}</a>
                            
                        </ul>
                        {% endfor %}
                        {% else %}
                        {% for user in users %}
                        <ul class="list-group">
                            <a class="list-group-item nav-link text-grey mb-2" href="javascript:void(0)" id="to_user" data-user="{{user.username.pk}}">{{user.username}}</a>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="card">
                <div class="col" id="pesan">
                    <p class="mt-2" id="sender" data="{{request.user.id}}">{{request.user}}</p>
                    
                    <hr />
                </div>
                <div class="col col-xl-12">
                    <div id="id_pesan" style="overflow-y: scroll; height:350px;"></div>
                </div>
                <div class="col">
                    <div id="id_footer">
                        <div class="row">
                             <div class="col-md-10">
                                 <div class="form-group">   
                                     <div contenteditable class="form-control" id="pesan_id"></div>
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <button type="button" class="btn btn-primary" id="kirim_pesan">Kirim</button>
                                 </div>
                             </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'chat/chats.js' %}"></script>
{% endblock javascripts %}