{% extends 'base.html' %}
{% load static %}

{% block title %}RealChat{% endblock title %}

{% block stylesheets %}
<style>
.cfooter{
    box-sizing: border-box;
    border-bottom:1px solid #eee;

}

.time {
  display: block;
  font-size: 0.8rem;
  background: white;
  /* padding: 0.25rem 1rem; */
  border-radius: 2rem;
  /* color: #999; */
  width: fit-content;
  /* margin: 0 auto; */
  /* margin: 8px 0 0; */
}

.time.sender {
  display: block;
  margin: 0 0 0 auto;
  font-size: 0.8rem;
  background: white;
  border-radius: 2rem;
  /* color: #999; */
  
}

.message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0 0 2px 0;
  background: #ccc;
  color:black;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: fit-content;
  max-width: 66%;

  box-shadow: 0 0 2rem rgba(black, 0.075),
      0rem 1rem 1rem -1rem rgba(black, 0.1);
}
.message.sender {
  margin: 0 0 0 auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}

#to_user:hover{
    background-color: black;
}

.new_message {
    animation: example 1.5s infinite;
}

@keyframes example {
    0% {
        background-color: grey;
    }
    50% {
        background-color: greenyellow;
    }

    100%{
        background-color: white;
    }
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-4">
            <div class="card">
                <div class="card-body">
                    <div id="id_from_user" style="overflow-y: scroll; height:430px;">
                        {% include 'chat/users.html' %}
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="card">
                <div class="col" id="pesan">
                    <p class="mt-2" id="sender" data="{{request.user.id}}" hidden>{{request.user}}</p>
                    
                    <hr />
                </div>
                <div class="col col-xl-12 cfooter">
                    <div id="id_pesan" style="overflow-y: scroll; height:350px;">
                    </div>
                </div>
                <div class="col mt-2">
                    <div id="id_footer">
                        <div class="row">
                             <div class="col-md-10">
                                 <div class="form-group">   
                                     <div contenteditable class="form-control" id="pesan_id">

                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <button type="button" class="btn btn-primary" id="kirim_pesan">Kirim</button>
                                 </div>
                             </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'chat/reconnecting-websocket.js' %}"></script>
<script>
    var i = window.location.href
    var protocol = window.location.protocol
    var host = window.location.host
    if(protocol === 'https'){
        proWs = 'wss'
    }else{
        proWs = 'ws'
    }
    console.log(i)
    // var endpoint = 'ws://127.0.0.1:8000/chat/status/'
    var endpoint = proWs+'://'+host+'/chat/status/'


    var socket = new ReconnectingWebSocket(endpoint)

    socket.onopen = function(e) {
        // console.log ("open", e);
       
    }

    var ul = $("ul#to_users").length + 1
    //console.log(ul)

    socket.onmessage = function(e) {
        
        // var from_sender = $("#sender").text()
        
        // var userData = JSON.parse(e.data)
        
        // datas = JSON.parse(userData.chat_users)
        
        // datas.map(data => {
            
        //     if(data.sender__username !== from_sender){
        //         $("#to_user").addClass("new_message")
        //     }
        // })
        
    }
    socket.onerror = function(e) {
        console.log ("error", e)
    }
    socket.onclose = function(e) {
        console.log ("close", e)
    }

    
</script>

<script src="{% static 'chat/chats.js' %}"></script>
{% endblock javascripts %}