{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-4">
            <div class="card">
                <div class="card-body">
                    {% for user in users %}
                    <ul class="list-group">
                        <a class="list-group-item nav-link text-grey mb-2" href="javascript:void(0)">{{user.username}}</a>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="card">
                <div class="col">
                    <p class="mt-2">{{request.user}}</p>
                    <hr />
                </div>
                <div class="col col-xl-12">
                    <textarea name="" id="" cols="70" rows="10" style="overflow-y:scroll;" class="bg-light"></textarea>
                </div>
                <div class="col">
                    <div class="row mx-0">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="" id="" class="form-control col-10">
                            <button type="submit" class="btn btn-primary float-right mx-3">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'chat/chats.js' %}"></script>
{% endblock javascripts %}