{% extends 'base.html' %}
{% load static %}

{% block title %}
Testing Chat box
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'chat/messages.css' %}">
<script src="https://kit.fontawesome.com/54550ccbba.js" crossorigin="anonymous"></script>
{% endblock stylesheets %}

{% block content %}
<div class="container mychat" id="mychat">
    <div class="row center">
        <div class="contacts">
            <i class="fas fa-bars fa-2x"></i>
            <h2>Contacts</h2>
            {% if users_jab %}
            {% for hrd in hrds %}
            <div class="contact" href="javascript:void(0)" id="to_user" data-user="{{hrd.username.pk}}">
                <div class="pic rogers"></div>
                <div class="badge">14</div>
                <div class="name">{{hrd.username.username}}</div>
                <div class="message">That is America's ass 🇺🇸🍑</div>
            </div>
            {% endfor %}
            {% else %}
            {% for user in users %}
            <div class="contact" href="javascript:void(0)" id="to_user" data-user="{{user.username.pk}}">
                <div class="pic rogers"></div>
                <div class="badge">14</div>
                <div class="name">{{user.username}}</div>
                <div class="message">That is America's ass 🇺🇸🍑</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="chat">
            <div class="contact bar" id="chat-bar">
                <div class="pic stark"></div>
                <div id="sender" data="{{request.user.id}}" data-username="{{request.user}}" hidden></div>
                
            </div>
            <div class="pesan">
                <div id="chat" class="messages">
               
                </div>
            </div>
            <div class="input">
                <i class="fas fa-camera"></i>
                <i class="far fa-laugh-beam"></i>
                <input type="text" name="" id="pesan_id" placeholder="Type your message here!">
                <button type="button" class="btn btn-sm btn-success" id="kirim_pesan"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>  
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'chat/messages.js' %}"></script>
{% endblock javascripts %}