{% extends 'base.html' %}
{% load static %}

{% block title %}Buat Pembina{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper" style="font-size: small; font-weight: bold;">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item mr-2">
                                    <a href="#show_pembina" class="color-nav-link nav-link active" data-toggle="tab">
                                        <i class="fas fa-fw fa-users"> </i> List User Internal
                                    </a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a href="#register_pembina" class="color-nav-link nav-link" data-toggle="tab">
                                        <i class="fas fa-fw fa-user-plus"> </i> Create User Internal
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div style="font-size:14px;" class="tab-pane active" id="show_pembina">
                            <div class="table-responsive mt-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example" class="table table-bordered dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>NO</th>
                                                    <th>NAMA LENGKAP</th>
                                                    <th>JABATAN</th>
                                                    <th>KODE USER</th>
                                                    <th>EMAIL</th>
                                                    <th>NO HANDPHONE</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in datas %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{data.nama}}</td>
                                                    <td>{{data.jabatan.nama_jabatan}}</td>
                                                    <td>{{data.username.username}}</td>
                                                    <td>{{data.username.email}}</td>
                                                    <td>{{data.no_hp}}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href type="button" class="color-nav-link dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="far fa-edit">edit</i>
                                                            </a>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item tag-a-ganti-password" href="#" data-toggle="modal" data-target="#edit_password_pembina{{data.pk}}">Ganti Password</a>
                                                                <a href="#" class="dropdown-item tag-a-hapus-user" id="delete_pembina" data-pk="{{data.username.pk}}" data-user="{{data.username.username}}">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- Modal Change Password -->
                                                <div class="modal fade" id="edit_password_pembina{{data.pk}}" tabindex="-1" aria-labelledby="edit_passwordLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h6 class="text-center" id="label-edit-password">
                                                                    Ganti Password {{data.username.username}}
                                                                </h6>
                                                                
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">x</span>
                                                                </button>
                                                            </div>
                                                            <div id="alert" class="mt-2"></div>
                                                            <form method="POST" name="form_edit_password" id="form_edit_password">
                                                                {% csrf_token %}
                                                                <input type="hidden" value={{data.username.pk}} id="id_ganti_password_pembina">
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="id_edit_password1">Password Baru</label>
                                                                    <input type="password" class="form-control" id="id_edit_password1" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="id_edit_password2">Ulangi Password Baru</label>
                                                                    <input type="password" class="form-control" id="id_edit_password2" required>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Batal</button>
                                                                <button type="button" class="btn btn-primary" id="reset_password">Update</button>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal Delete Pembina -->
                                                <div class="modal fade" id="delete_pembina{{data.pk}}" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <button class="btn btn-sm btn-primary trigger-swal">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="register_pembina">
                            <h6 class="text-center font-weight-bold">Registrasi Pembina</h6>
                            <hr>
                            <form id="form_register_pembina" method="POST">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <div class="col md-5">
                                        <div class="form-group">
                                            <label for="nama">Nama Lengkap</label>
                                            <span style="color:red;">*</span>
                                            <input type="text" name="nama_pembina" id="nama_pembina" class="form-control clear" required onkeyup="this.value = this.value.toUpperCase()" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="makeselect">Jabatan</label>
                                            <span style="color:red;">*</span>
                                            <select class="form-select form-select-sm form-control" aria-label=".form-select-sm example" id="makeselect">
                                                <option selected style="text-align:center;" value="0">---------- PILIH JABATAN ----------</option>
                                                
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="no_hp">No Handphone</label>
                                            <span style="color:red;">*</span>
                                            <input type="text" class="form-control clear" id="no_hp_pembina" name="no_hp" maxlength="13" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="kd_user">Kode User</label>
                                            <span style="color:red;">*</span>
                                            <input type="text" class="form-control clear" id="kd_user" name="kd_user" onkeyup="this.value = this.value.toUpperCase()" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" value="1" id="kd_kantor" hidden>
                                        </div>
                                    </div>
                                    <div class="col md-5">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <span style="color:red;">*</span>
                                            <input type="text" class="form-control clear" id="email_pembina" name="email" onkeyup="this.value = this.value.toUpperCase()" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pembaina_username">Username</label>
                                            <span style="color:red;">*</span>
                                            <input type="text" name="pembaina_username" id="pembaina_username" class="form-control clear" onkeyup="this.value = this.value.toUpperCase()" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="pembina_password1">Password</label>
                                            <span style="color:red;">*</span>
                                            <input type="password" name="pembina_password1" id="pembina_password1" class="form-control clear" minlength="8" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pembina_password2">Ulangi Password</label>
                                            <span style="color:red;">*</span>
                                            <input type="password" name="pembina_password2" id="pembina_password2" class="form-control clear" minlength="8" required>
                                        </div>
                                        
                                       <div class="form-group">
                                            <button type="button" class="btn btn-success float-right mt-4" id="daftar_pembina_btn">Daftar</button>
                                       </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
var superQuery = `query{
    allJabatan{
        id
        kodeJabatan
        namaJabatan
    }
    }`

$(document).ready(function(){
    $.ajax({
        method:"POST",
        url:"{% url 'graphql' %}",
        contentType:"application/json",
        data:JSON.stringify({
            query:superQuery,
        }),
        dataType:"json",
        success:function(data){
            
            var datas = data['data']['allJabatan']
            var jabatan = $("#id_jabatan, #id_jabatan_pembina").val();
            
            $.each(datas, function(i,j){

                $("#makeselect").append($('<option>', {
                    
                    value:j['id'],
                    text:j['id']+" - "+j['namaJabatan'],       
                }));
            })
        },
        error:function(err){
            console.log(err)
        }
    })
})

</script>
<script src="{% static 'kepesertaan/js/admin.js' %}"></script>
{% endblock javascripts %}

