{% extends 'base.html' %}

{% block title %}
Edit Profile | {{request.user}}
{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="col-5">
        <div class="card">
            <div class="card-header text-center">
                Edit Profile - {{request.user}}
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_nama">Nama</label>
                        <span style="color:red;">*</span>
                        {{form.nama}}
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <span style="color:red;">*</span>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="id_no_hp">No. Handphone</label>
                        <span style="color:red;">*</span>
                        {{form.no_hp}}
                    </div>
                    <div class="form-group">
                        <label for="id_jabatan">Jabatan</label>
                        <span style="color:red;">*</span>
                        {{form.jabatan}}
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary float-right">SIMPAN</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}