{% if info %}
    {% for data in info %}
    <section class="notification-section">
        <div class="group-header">
            <div class="group-title">
                {% now "d" as current_date %}
                {% if data.created|date:"d" == current_date %}
                    Hari Ini
                {% else %}
                    Kemarin
                {% endif %}
            </div>
            <div class="group-date">{{data.created|date:"D, d-m-Y"}}</div>
        </div>
        <div class="notification-grid">
            <div class="avatar">
                <img src="" alt="">
            </div>
            <div class="notification-card">
                <div class="notification-header">
                    <div class="notification-title">
                        {{data.judul}}
                    </div>
                    <div class="notification-time">{{data.created|time:"g:iA"|lower}}</div>
                </div>
                <div class="notification-content">
                    {{data.isi}}

                    {% if data.attachment %}
                        <p class="mt-4">
                            <a href="{{data.attachment.url}}" class="btn btn-sm btn-primary">Unduh File</a>
                            <span class="mt-4 float-right span-c">created: {{data.created_by.nama}}</span>
                        </p>
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
        
    </section>
    <hr />
    {% endfor %}
{% else %}
<h3>Belum ada informasi Terkini</h3>
{% endif %}