{% extends 'base.html' %}

{% block title %}
{% if workers %}
Daftar TK {{workers.0.npp.npp}}
{% else %}
Daftar TK
{% endif %}
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="card-title text-center text-white fw-bold">
                        Data Peserta :  {{is_npp.npp}} - {{is_npp.nama_perusahaan}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="id_list_tk" class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>KPJ</th>
                                    <th>NAMA</th>
                                    <th>TGL LAHIR</th>
                                    <th>TGL KEPS</th>
                                    <th>TGL NA</th>
                                    <th>EMAIL</th>
                                    <th>NO HP</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if workers %}
                                {% for worker in workers %}
                                <tr>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                    <td style="text-align: right;"><input type="checkbox" class="form-check-input" value="{{worker.pk}}" id="cb_{{worker.pk}}"></td>
                                </form>
                                    <td>{{worker.no_kartu}}</td>
                                    <td>{{worker.nama}}</td>
                                    <td>{{worker.tgl_lahir|date:"d-m-Y"}}</td>
                                    <td>{{worker.tgl_keps|date:"m-Y"}}</td>
                                    {% if worker.tgl_na is null %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{worker.tgl_na|date:"m-Y"}}</td>
                                    {% endif %}
                                    <td>{{worker.email}}</td>
                                    <td>{{worker.no_hp}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script>
    $(document).ready(function() {
        $("#id_list_tk").dataTable({
            dom:"<'row'<'col'l><'col'f>><t>iBp",
            buttons:[
                {
                    text:'Hapus',
                    className:'btn-primary',
                    action: function(e, dt, node, config){
                        getValues();
                        
                    }
                }
            ]
        })
        
    } );

    function getValues(){
        var pk = $("input:checkbox").attr('id')
        var selected = new Array();
        var chckbox = document.getElementById('id_list_tk')
        var selchk = chckbox.getElementsByTagName("input")



        for(var i=0;i<selchk.length;i++){
            if(selchk[i].checked){
                selected.push(selchk[i].value);
            }
        }

        if(selected.length>0) 
        {   
            console.log(selected)
            if(confirm("Apakah anda yakin ?") == true){
                
                selected.forEach(item => {
                    console.log(item)
                    var form = new FormData()
                    form.append("pk", item)
                    form.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val())
                    $.ajax({
                        type:"POST",
                        url:"{% url 'hapus-tk' %}",
                        contentType:false,
                        processData:false,
                        data:form,
                        success:function(e){
                            location.reload();
                        },
                        error:function(err){
                            console.log(err)
                        }
                    })
                   
                })
            } 
        }else{
            Swal.fire({
                text: 'Data tidak boleh kosong!',
                icon: 'error',
                confirmButtonText: 'OK'
            })
           
        }
    }
</script>
{% endblock javascripts %}